
body {
   text-align: center;
   overflow: hidden;
   height: 100vh;
   background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100% );
}

#gameArea {
    border: 4px solid green;
}

h1 {
    font-family: 'Coming Soon', cursive;
}

